#header {
    &.headroom {
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: transparent;
        transition: .3s;
        padding-top: 5px;

        &.is-sticky {
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background-color: $white-color !important;
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }
    }
}

html {
    background-color: blue;
}